USE [AES_PICA_PRODUCTOS]
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTOS_ID]    Script Date: 13/03/2016 10:04:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:  ghemo007
-- Fecha Creacion: 20/02/16
-- =============================================
ALTER PROCEDURE [dbo].[PRODUCTOS_ID]
  @PRODUCTO_ID NUMERIC

AS
BEGIN 
    SELECT ID
    ,PRODUCTO_ID
    ,NOMBRE
    ,DESCRIPCION
    ,CATEGORIA
    ,PRECIO_LISTA
    ,FABRICANTE
    ,IMAGEN
    ,IMAGEN_URL
    FROM PRODUCTOS
    WHERE (@PRODUCTO_ID IS NULL OR @PRODUCTO_ID=PRODUCTO_ID)
   /*(@ID IS NULL OR @ID=ID) 
   AND (@PRODUCTO_ID IS NULL OR @PRODUCTO_ID=PRODUCTO_ID)
   AND (@NOMBRE IS NULL OR @NOMBRE=NOMBRE)
   AND (@DESCRIPCION IS NULL OR @DESCRIPCION=DESCRIPCION)
   AND (@CATEGORIA IS NULL OR @CATEGORIA=CATEGORIA)
   AND (@PRECIO_LISTA IS NULL OR @PRECIO_LISTA=PRECIO_LISTA)
   AND (@FABRICANTE IS NULL OR @FABRICANTE=FABRICANTE)
   AND (@IMAGEN IS NULL OR @IMAGEN=IMAGEN)
   AND (@IMAGEN_URL IS NULL OR @IMAGEN_URL=IMAGEN_URL)*/
   ORDER BY ID
END