USE [AES_PICA_PRODUCTOS]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 06/03/2016 10:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[ID] [numeric](18, 0) NOT NULL,
	[PRODUCTO_ID] [numeric](18, 0) NULL,
	[NOMBRE] [varchar](200) NULL,
	[DESCRIPCION] [varchar](4000) NULL,
	[CATEGORIA] [varchar](4000) NULL,
	[PRECIO_LISTA] [numeric](18, 0) NULL,
	[FABRICANTE] [varchar](4000) NULL,
	[IMAGEN] [varbinary](max) NULL,
	[IMAGEN_URL] [varchar](4000) NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PRODUCTOS] ([ID], [PRODUCTO_ID], [NOMBRE], [DESCRIPCION], [CATEGORIA], [PRECIO_LISTA], [FABRICANTE], [IMAGEN], [IMAGEN_URL]) VALUES (CAST(1 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'PRODUCTO CODIGO A1', N'DESCRIPCION PRODUCTO CODIGO A1', N'CATEGORIA A1', CAST(82932 AS Numeric(18, 0)), N'FABRICANTE          1', NULL, N'')
GO
INSERT [dbo].[PRODUCTOS] ([ID], [PRODUCTO_ID], [NOMBRE], [DESCRIPCION], [CATEGORIA], [PRECIO_LISTA], [FABRICANTE], [IMAGEN], [IMAGEN_URL]) VALUES (CAST(2 AS Numeric(18, 0)), CAST(2 AS Numeric(18, 0)), N'PRODUCTO CODIGO A2', N'DESCRIPCION PRODUCTO CODIGO A2', N'CATEGORIA A2', CAST(642680 AS Numeric(18, 0)), N'FABRICANTE          2', NULL, N'')
GO
INSERT [dbo].[PRODUCTOS] ([ID], [PRODUCTO_ID], [NOMBRE], [DESCRIPCION], [CATEGORIA], [PRECIO_LISTA], [FABRICANTE], [IMAGEN], [IMAGEN_URL]) VALUES (CAST(3 AS Numeric(18, 0)), CAST(3 AS Numeric(18, 0)), N'PRODUCTO CODIGO A3', N'DESCRIPCION PRODUCTO CODIGO A3', N'CATEGORIA A3', CAST(966857 AS Numeric(18, 0)), N'FABRICANTE          3', NULL, N'')
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTOS_DESCRIPCION]    Script Date: 06/03/2016 10:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:  ghemo007
-- Fecha Creacion: 20/02/16
-- =============================================
CREATE PROCEDURE [dbo].[PRODUCTOS_DESCRIPCION]
  @DESCRIPCION VARCHAR(4000)
  ,@NUMERO_PAGINA INT
  ,@TAMANO_PAGINA INT

AS
BEGIN 
	--Validación de precondiciones
	Declare @CONTEO_PAGINAS INT
	SET @CONTEO_PAGINAS = 0
	IF @TAMANO_PAGINA < 1  OR @NUMERO_PAGINA < 1 RETURN

	--Ajuste de cantidad de páginas
	DECLARE @CANTIDAD_REGISTROS INT
	SELECT @CANTIDAD_REGISTROS = COUNT(*) FROM [dbo].[PRODUCTOS]
 
	IF @CANTIDAD_REGISTROS = 0
		SET @CONTEO_PAGINAS = 0
	ELSE IF @CANTIDAD_REGISTROS % @TAMANO_PAGINA = 0
		SET @CONTEO_PAGINAS = @CANTIDAD_REGISTROS / @TAMANO_PAGINA
	ELSE
		SET @CONTEO_PAGINAS = (@CANTIDAD_REGISTROS / @TAMANO_PAGINA) + 1 

	--Registros paginados,filtrados y ordenados
	DECLARE @offset INT =  (@TAMANO_PAGINA * (@NUMERO_PAGINA - 1)) --SET NOCOUNT OFF;
    SELECT ID
    ,PRODUCTO_ID
    ,NOMBRE
    ,DESCRIPCION
    ,CATEGORIA
    ,PRECIO_LISTA
    ,FABRICANTE
    ,IMAGEN
    ,IMAGEN_URL
    FROM PRODUCTOS
    WHERE DESCRIPCION LIKE +'%'+@DESCRIPCION+'%'

   ORDER BY ID
   OFFSET @offset ROWS 
   FETCH NEXT @TAMANO_PAGINA ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTOS_ID]    Script Date: 06/03/2016 10:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:  ghemo007
-- Fecha Creacion: 20/02/16
-- =============================================
CREATE PROCEDURE [dbo].[PRODUCTOS_ID]
  @ID NUMERIC

AS
BEGIN 
    SELECT ID
    ,PRODUCTO_ID
    ,NOMBRE
    ,DESCRIPCION
    ,CATEGORIA
    ,PRECIO_LISTA
    ,FABRICANTE
    ,IMAGEN
    ,IMAGEN_URL
    FROM PRODUCTOS
    WHERE (@ID IS NULL OR @ID=ID)
   /*AND (@PRODUCTO_ID IS NULL OR @PRODUCTO_ID=PRODUCTO_ID)
   AND (@NOMBRE IS NULL OR @NOMBRE=NOMBRE)
   AND (@DESCRIPCION IS NULL OR @DESCRIPCION=DESCRIPCION)
   AND (@CATEGORIA IS NULL OR @CATEGORIA=CATEGORIA)
   AND (@PRECIO_LISTA IS NULL OR @PRECIO_LISTA=PRECIO_LISTA)
   AND (@FABRICANTE IS NULL OR @FABRICANTE=FABRICANTE)
   AND (@IMAGEN IS NULL OR @IMAGEN=IMAGEN)
   AND (@IMAGEN_URL IS NULL OR @IMAGEN_URL=IMAGEN_URL)*/
   ORDER BY ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTOS_LISTA]    Script Date: 06/03/2016 10:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:  ghemo007
-- Fecha Creacion: 20/02/16
-- =============================================
CREATE PROCEDURE [dbo].[PRODUCTOS_LISTA]/*
  @ID NUMERIC = NULL
 ,@PRODUCTO_ID NUMERIC = NULL
 ,@NOMBRE VARCHAR(200) = NULL
 ,@DESCRIPCION VARCHAR(4000) = NULL
 ,@CATEGORIA VARCHAR(4000) = NULL
 ,@PRECIO_LISTA NUMERIC = NULL
 ,@FABRICANTE VARCHAR(4000) = NULL
 ,@IMAGEN VARBINARY = NULL
 ,@IMAGEN_URL VARCHAR(4000) = NULL
 ,*/@NUMERO_PAGINA INT
 ,@TAMANO_PAGINA INT
 /*,@CONTEO_PAGINAS INT OUT*/
AS
BEGIN 
	--Validación de precondiciones
	Declare @CONTEO_PAGINAS INT
	SET @CONTEO_PAGINAS = 0
	IF @TAMANO_PAGINA < 1  OR @NUMERO_PAGINA < 1 RETURN

	--Ajuste de cantidad de páginas
	DECLARE @CANTIDAD_REGISTROS INT
	SELECT @CANTIDAD_REGISTROS = COUNT(*) FROM [dbo].[PRODUCTOS]
 
	IF @CANTIDAD_REGISTROS = 0
		SET @CONTEO_PAGINAS = 0
	ELSE IF @CANTIDAD_REGISTROS % @TAMANO_PAGINA = 0
		SET @CONTEO_PAGINAS = @CANTIDAD_REGISTROS / @TAMANO_PAGINA
	ELSE
		SET @CONTEO_PAGINAS = (@CANTIDAD_REGISTROS / @TAMANO_PAGINA) + 1 

	--Registros paginados,filtrados y ordenados
	DECLARE @offset INT =  (@TAMANO_PAGINA * (@NUMERO_PAGINA - 1)) --SET NOCOUNT OFF;
    SELECT ID
    ,PRODUCTO_ID
    ,NOMBRE
    ,DESCRIPCION
    ,CATEGORIA
    ,PRECIO_LISTA
    ,FABRICANTE
    ,IMAGEN
    ,IMAGEN_URL
    FROM PRODUCTOS
    /*WHERE (@ID IS NULL OR @ID=ID)
   AND (@PRODUCTO_ID IS NULL OR @PRODUCTO_ID=PRODUCTO_ID)
   AND (@NOMBRE IS NULL OR @NOMBRE=NOMBRE)
   AND (@DESCRIPCION IS NULL OR @DESCRIPCION=DESCRIPCION)
   AND (@CATEGORIA IS NULL OR @CATEGORIA=CATEGORIA)
   AND (@PRECIO_LISTA IS NULL OR @PRECIO_LISTA=PRECIO_LISTA)
   AND (@FABRICANTE IS NULL OR @FABRICANTE=FABRICANTE)
   AND (@IMAGEN IS NULL OR @IMAGEN=IMAGEN)
   AND (@IMAGEN_URL IS NULL OR @IMAGEN_URL=IMAGEN_URL)*/
   ORDER BY ID
   OFFSET @offset ROWS 
   FETCH NEXT @TAMANO_PAGINA ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[PRODUCTOS_NOMBRE]    Script Date: 06/03/2016 10:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:  ghemo007
-- Fecha Creacion: 20/02/16
-- =============================================
CREATE PROCEDURE [dbo].[PRODUCTOS_NOMBRE]
  @NOMBRE VARCHAR(200)
  ,@NUMERO_PAGINA INT
  ,@TAMANO_PAGINA INT

AS
BEGIN 
	--Validación de precondiciones
	Declare @CONTEO_PAGINAS INT
	SET @CONTEO_PAGINAS = 0
	IF @TAMANO_PAGINA < 1  OR @NUMERO_PAGINA < 1 RETURN

	--Ajuste de cantidad de páginas
	DECLARE @CANTIDAD_REGISTROS INT
	SELECT @CANTIDAD_REGISTROS = COUNT(*) FROM [dbo].[PRODUCTOS]
 
	IF @CANTIDAD_REGISTROS = 0
		SET @CONTEO_PAGINAS = 0
	ELSE IF @CANTIDAD_REGISTROS % @TAMANO_PAGINA = 0
		SET @CONTEO_PAGINAS = @CANTIDAD_REGISTROS / @TAMANO_PAGINA
	ELSE
		SET @CONTEO_PAGINAS = (@CANTIDAD_REGISTROS / @TAMANO_PAGINA) + 1 

	--Registros paginados,filtrados y ordenados
	DECLARE @offset INT =  (@TAMANO_PAGINA * (@NUMERO_PAGINA - 1)) --SET NOCOUNT OFF;
    SELECT ID
    ,PRODUCTO_ID
    ,NOMBRE
    ,DESCRIPCION
    ,CATEGORIA
    ,PRECIO_LISTA
    ,FABRICANTE
    ,IMAGEN
    ,IMAGEN_URL
    FROM PRODUCTOS
    WHERE NOMBRE LIKE +'%'+@NOMBRE+'%'
	/*(@ID IS NULL OR @ID=ID)
   AND (@PRODUCTO_ID IS NULL OR @PRODUCTO_ID=PRODUCTO_ID)
   AND (@NOMBRE IS NULL OR @NOMBRE=NOMBRE)
   AND (@DESCRIPCION IS NULL OR @DESCRIPCION=DESCRIPCION)
   AND (@CATEGORIA IS NULL OR @CATEGORIA=CATEGORIA)
   AND (@PRECIO_LISTA IS NULL OR @PRECIO_LISTA=PRECIO_LISTA)
   AND (@FABRICANTE IS NULL OR @FABRICANTE=FABRICANTE)
   AND (@IMAGEN IS NULL OR @IMAGEN=IMAGEN)
   AND (@IMAGEN_URL IS NULL OR @IMAGEN_URL=IMAGEN_URL)*/
   ORDER BY ID
   OFFSET @offset ROWS 
   FETCH NEXT @TAMANO_PAGINA ROWS ONLY;
END
GO
